:root {
    --spin-duration: 0s;
}

body {
    animation-name: spin;
    animation-duration: var(--spin-duration);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}