:root {
    --red: 255;
    --green: 0;
    --blue: 0;
    --inv-red: 0;
    --inv-green: 255;
    --inv-blue: 255;
    --background-colour: ;
    --colour: ;
}

#popup-h1 {
    color: #A75675;
    display: block;
    margin: auto;
    text-align: center;
}
.options {
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: block;
    width: 24px;
    padding: 2px;
}
#options-img:hover, #set-options:hover, #bg-col:hover {
    opacity: .75;
}
body,* {

    font-family: "Comic Sans MS" !important;
    background-color: var(--background-colour) !important;
    color: var(--colour);
}
#options-body{
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
#set-options{
    display: block;
    position: relative;
    top: 50px;
    margin: 0 auto;
}
